.timeline-heading {
    display: block;
    width: auto;
    height: auto;
    overflow: visible;
    background-color: black;
    .heading-container {
        margin: 0 auto;
        width: 90vw;
        max-width: 1360px;
        @media (max-width: 478px) {
            width: 90%;
        }
        .heading-padding {
            padding: 120px 0;
            .heading-wrapper {
                margin: 0 auto;
                max-width: 640;
                .finally-heading {
                    margin-bottom: 32px;
                    .heading {
                        margin: 20px 0;
                        text-align: center;
                        letter-spacing: -0.03em;
                        color: #D9D9D9;
                        font-size: 80px;
                        line-height: 90px;
                        font-weight: 700;
                        @media (max-width: 478px) {
                            font-size: 67px;
                        }
                        span {
                            color: #554A4A;
                            span {
                                color: #D4FD00;
                            }
                        }
                    }
                }
                p {
                    text-align: center;
                    color: #D9D9D9;
                    font-size: 2rem;
                    letter-spacing: -0.02em;
                }
            }
        }
    }
}